//@theme "/home/huwutao/.local/share/rofi/themes/tokyonight.rasi"
//@theme "/home/huwutao/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/usr/share/rofi/themes/Monokai.rasi"
@theme "/usr/share/rofi/themes/Monokai.rasi"
