/*
 *
 * Author  : Aditya Shakya
 * Mail    : adi1090x@gmail.com
 * Github  : @adi1090x
 * Twitter : @adi1090x
 *
 */
@import "config.rasi"
prompt {
   enabled: 						true;
}
listview {
cycle: true;
  lines: 16;
}
